:root[data-theme="kanagawa-lotus"] {
  --matcha-accent: #4d699b;
  --matcha-panel-bg: #f2ecbc;
  --matcha-surface0: #dcd5ac;
  --matcha-surface1: #c9cbd1;
  --matcha-surface-dim: #d5cea3;
  --matcha-overlay0: #a09cac;
  --matcha-overlay1: #8a8980;
  --matcha-text: #545464;
  --matcha-subtext0: #43436c;
  --matcha-mauve: #624c83;
  --matcha-green: #6f894e;
  --matcha-yellow: #77713f;
  --matcha-red: #c84053;
  --matcha-blue: #4d699b;
  --matcha-teal: #4e8ca2;
  --matcha-peach: #cc6d00;
}
