:root[data-theme="terminal"] {
  --matcha-accent: blue;
  --matcha-panel-bg: initial;
  --matcha-surface0: initial;
  --matcha-surface1: darkgray;
  --matcha-surface-dim: darkgray;
  --matcha-overlay0: gray;
  --matcha-overlay1: white;
  --matcha-text: initial;
  --matcha-subtext0: gray;
  --matcha-mauve: gray;
  --matcha-green: green;
  --matcha-yellow: yellow;
  --matcha-red: #ff5555;
  --matcha-blue: blue;
  --matcha-teal: cyan;
  --matcha-peach: yellow;
}
