:root[data-theme="vesper"] {
  --matcha-accent: #ffc799;
  --matcha-panel-bg: #1a1a1a;
  --matcha-surface0: #232323;
  --matcha-surface1: #282828;
  --matcha-surface-dim: #101010;
  --matcha-overlay0: #5c5c5c;
  --matcha-overlay1: #7e7e7e;
  --matcha-text: #ffffff;
  --matcha-subtext0: #a0a0a0;
  --matcha-mauve: #ffd1a8;
  --matcha-green: #99ffe4;
  --matcha-yellow: #ffc799;
  --matcha-red: #ff8080;
  --matcha-blue: #b0b0b0;
  --matcha-teal: #66ddcc;
  --matcha-peach: #ffc799;
}
